[submodule "messy"]
	path = sw/messy
	url = https://github.com/eml-eda/messy.git
	branch = dev-cheshire-adapter
[submodule "openocd"]
	path = sw/openocd
	url = https://github.com/riscv-collab/riscv-openocd.git
[submodule "sw/cheshire"]
	path = sw/cheshire
	url = https://github.com/Lelezinski/cheshire.git
